body
{
    background-color: silver;
}
#egy {
    width: 50px;
    height: 50px;
    background-color: rgb(19, 214, 214);
    animation-name: elso;
    animation-duration: 4s;
  }
  @keyframes elso {
    from {background-color:rgb(19, 214, 214);}
    to {background-color: rgb(216, 33, 33);}
  }
#ketto {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: masodik;
    animation-duration: 8s;
  }

@keyframes masodik {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  #harom {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: harmadik;
    animation-duration: 10s;
    position: relative;
    animation-delay: 3s;
    animation-iteration-count: 3;
  }

@keyframes harmadik {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color: white; left:200px; top:0px;}
    50%  {background-color: green; left:200px; top:200px;}
    75%  {background-color: yellow; left:0px; top:200px;}
    100% {background-color:crimson; left:0px; top:0px;}
  }
